{% extends "layout.html" %}
{% block body %}
    <section id="hero">
        <div class="container">
          <div class="row">
          </div>
            <div class="row">
                <div class="col-sm-6">
                    <h2>we offer the best laundry services</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique in placeat eos exercitationem error consectetur quia voluptatum, nulla perferendis incidunt, repudiandae aliquid, doloribus earum pariatur adipisci tempore distinctio ut est.</p>
                    <a href="/order" class="btnD1">order</a>
                </div>
            </div>
        </div>
    </section>


     <!-- About Section -->
     <section class="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12 p-3 pt-4 leftwrapper">
                  <div class="aboutcontent mt-4">
                      <h3>LAUNDROMAT : LAUNDRY AND DRY CLEANING SERVICES</h3>
                      <p>We are professionals in the laundry and dry cleaning business, which means we always stay up to date on the latest technologies, cleaning methods, and solutions for dealing with stains or delicate fabrics.</p>
                      <p class="mb-5 pb-4">Plus, we maintain the highest standards of business integrity by following local and national regulations and environmental safety rules. We are passionate about changing the way you think about laundry!</p>
                      <a href="/about">READ MORE</a>
                  </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 p-3 pt-4 rightwrapper">
                <div class="aboutimg">
                    <img src="{{url_for('static', filename='asset/img/about.png')}}" alt="aboutImg">
                </div>
            </div>
          </div>
      </div>
  </section>
  <!-- End Of About Section -->

  <!-- laundromat works section -->
  <section class="work">
    <div class="container">
      <div class="row">
        <div class="section-title w-100">
          <h2>HOW <span style="color: #000;">LAUNDROMAT</span> WORKS</h2>
      </div>
        <div class="col-md-3 col-sm-6 col-xs-12 working column mt-5">
          <div class="single-working-content">
            <div class="iconbox">
              <i class="fas fa-shopping-basket"></i>
            </div>
            <h3>Bag Up</h3>
            <div class="count-text d-flex justify-content-center">
              <span>1</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 working column mt-5">
          <div class="single-working-content">
            <div class="iconbox">
              <i class="fas fa-truck"></i>
            </div>
            <h3>We Pick Up</h3>
            <div class="count-text d-flex justify-content-center">
              <span>2</span></div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 working column mt-5">
          <div class="single-working-content">
            <div class="iconbox">
              <i class="fas fa-tshirt"></i>
            </div>
            <h3>We Clean</h3>
            <div class="count-text d-flex justify-content-center">
              <span>3</span></div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 working column mt-5">
          <div class="single-working-content">
            <div class="iconbox">
              <i class="fas fa-truck"></i>
            </div>
            <h3>Free delivery</h3>
            <div class="count-text d-flex justify-content-center">
              <span>4</span></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- laundromat works section -->


   <!-- Why us Section -->
   <section class="whyus overlay">
    <div class="container">
        <div class="row">
            <div class="section-title w-100">
                <h2>WHY PEOPLE CHOOSE US</h2>
            </div>
            <div class="wrapper">
              <div class="carousel owl-carousel">
                 <div class="card card-1">
                    <i class="fas fa-tags"></i>
                    <h6 class="m-3">Affordable Price</h6>
                    <p>Rugby and Stratford-upon-Avon. Additionally, there are many things to see and do in and around Coventry.</p>
                 </div>
                 <div class="card card-2">
                     <i class="fas fa-bolt"></i>
                    <h6 class="m-3">Expert Cleaners</h6>
                    <p>We use the best in class products, to assure that your favorite clothes are always there for you to wear.</p>
                 </div>
                 <div class="card card-3">
                     <i class="fas fa-book-reader"></i>
                    <h6 class="m-3">Convenience</h6>
                    <p>With just a tap of a button, your laundry gets done, giving you leisure time to spend with family and friends.</p>
                 </div>
                 <div class="card card-4">
                     <i class="fas fa-clipboard-list"></i>
                    <h6 class="m-3">Instant Order Update</h6>
                    <p>Regular updates of your order, to help you keep a track of your laundry andplan according.</p>
                 </div>
                 <div class="card card-5">
                     <i class="fas fa-tshirt"></i>
                    <h6 class="m-3">Personalised Exprience</h6>
                    <p>We take utmost care of your clothes, the laundry is done according to the cloth type and the nature of stains.</p>
                 </div>
                 <div class="card card-6">
                     <i class="fas fa-truck"></i>
                    <h6 class="m-3">Express Delivery</h6>
                    <p>Forgot to wash your clothes for meetings. With our express delivery get laundry done within 8 hours.</p>
                 </div>
              </div>
           </div>
        </div>
    </div>
</section>
<!-- End of Why us Section -->
<section class="services">
<div class="section-title w-100">
  <h2>OUR SERVICES</h2>
</div>
<div class="wrapper">
  <div class="carousel owl-carousel">
     <div class="servicecard card-1">
        <img src="{{url_for('static', filename='asset/img/img07.jpg')}}" alt="">
        <div class="card-text">
         <h3>Laundry</h3>
       </div>
        <div class="card-text">
         <h5>Service</h5>
       </div>
     </div>
     <div class="servicecard card-2">
        <img src="{{url_for('static', filename='asset/img/img08.jpg')}}" alt="">
        <div class="card-text">
         <h3>DryClean</h3>
       </div>
        <div class="card-text">
         <h5>Service</h5>
       </div>
     </div>
     <div class="servicecard card-3">
        <img src="{{url_for('static', filename='asset/img/img10.jpg')}}" alt="">
          <div class="card-text">
         <h3>Alteration</h3>
       </div>
        <div class="card-text">
         <h5>& Repairs</h5>
       </div>
     </div>
     <div class="servicecard card-4">
        <img src="{{url_for('static', filename='asset/img/img11.jpg')}}" alt="">
          <div class="card-text">
         <h3>SteamIron</h3>
       </div>
        <div class="card-text">
         <h5>Service</h5>
       </div>
     </div>
     <div class="servicecard card-5">
        <img src="{{url_for('static', filename='asset/img/img12.jpg')}}" alt="">
          <div class="card-text">
         <h3>ShoeClean</h3>
       </div>
        <div class="card-text">
         <h5>Service</h5>
       </div>
     </div>
     <div class="servicecard card-6">
        <img src="{{url_for('static', filename='asset/img/img13.jpg')}}" alt="">
        <div class="card-text">
         <h3>CarpetClean</h3>
       </div>
        <div class="card-text">
         <h5>Service</h5>
       </div>
     </div>
  </div>
</div>
</section>


 <!-- Pricetable Section -->
 <section class="pricetable">
  <div class="container">
    <div class="row">
      <div class="section-title w-100">
        <h2>CHOOSE YOUR PRICING PLAN</h2>
    </div>
    <div class="col-lg-4 col-md-6 mobileGrid">
      <div class="single-pricing">
        <div class="head-text">
          <h3>Monthy Wash</h3>
        </div>
        <div class="price-area">
          $11 <span class="duration">Per Use</span>
        </div>
        <div class="btn-area">
          <a href="">GET STARTED</a>
        </div>
        <div class="feature-area">
          <ul>
            <li><i class="fas fa-check"></i>Detergent Include</li>
            <li><i class="fas fa-check"></i>Dryer Sheets Include</li>
            <li><i class="fas fa-check"></i>Fabric Softener Included</li>
            <li><i class="fas fa-check"></i>Unlimited Use</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mobileGrid">
      <div class="single-pricing best-deal">
        <div class="label-area">
          <span>Popular</span>
        </div>
        <div class="head-text">
          <h3>Six-Month Wash</h3>
        </div>
        <div class="price-area">
          $11 <span class="duration">Per Use</span>
        </div>
        <div class="btn-area">
          <a href="">GET STARTED</a>
        </div>
        <div class="feature-area">
          <ul>
            <li><i class="fas fa-check"></i>Detergent Include</li>
            <li><i class="fas fa-check"></i>Dryer Sheets Include</li>
            <li><i class="fas fa-check"></i>Fabric Softener Included</li>
            <li><i class="fas fa-check"></i>Unlimited Use</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mobileGrid">
      <div class="single-pricing">
        <div class="head-text">
          <h3>Yearly Wash</h3>
        </div>
        <div class="price-area">
          $11 <span class="duration">Per Use</span>
        </div>
        <div class="btn-area">
          <a href="">GET STARTED</a>
        </div>
        <div class="feature-area">
          <ul>
            <li><i class="fas fa-check"></i>Detergent Include</li>
            <li><i class="fas fa-check"></i>Dryer Sheets Include</li>
            <li><i class="fas fa-check"></i>Fabric Softener Included</li>
            <li><i class="fas fa-check"></i>Unlimited Use</li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
<!-- End of Pricetable Section -->


 <!-- Help Section -->
 <section class="help overlay-help">
  <div class="container">
      <div class="row">
          <div class="section-title w-100">
              <h2>NEED MORE <span style="color: #000;">HELP ?</span></h2>
          </div>
          <div class="wrapper">
            <div class="carousel owl-carousel">
               <div class="card card-1">
                 <div class="top d-flex justify-content-center mb-4">
                   <i class="fas fa-clock"></i>
                   <h6 class="mb-0">Trading Hours</h6>
                 </div>
                  <p>Monday - Friday : 8:00 am to 2:00pm <br>Saturday : 9:00 am to 6:00pm <br>Sunday : Close</p>
               </div>
               <div class="card card-2">
                 <div class="top d-flex justify-content-center mb-4">
                   <i class="fas fa-phone"></i>
                   <h6 class="mb-0">Call Us</h6>
                 </div>
                  <p>Any time during business hours if you want to get your clothes cleaned,quickly <br><span class="call" style="color: #29abe2;">(458) 447 247 11</span></p>
               </div>
               <div class="card card-3">
                 <div class="top d-flex justify-content-center mb-4">
                   <i class="fas fa-truck-moving"></i>
                   <h6 class="mb-0">Delivery</h6>
                 </div>
                  <p>Customers don't have to worry about going to laundromat, buy detergent and kill time waiting to finish.</p>
               </div>
               <div class="card card-4">
                 <div class="top d-flex justify-content-center mb-4">
                   <i class="fab fa-telegram-plane"></i>
                   <h6 class="mb-0">Subscribe</h6>
                 </div>
                  <p>If you want receive our all weekly updates about new offers and discount, signup below <br></p>
               </div>
               <div class="card card-5">
                 <div class="top d-flex justify-content-center mb-4">
                   <i class="fas fa-question-circle"></i>
                   <h6 class="mb-0">FAQs</h6>
                 </div>
                  <p>See answers to questionson how to get our services. <br><a href="#">FAQ</a></p>
               </div>
            </div>
         </div>
      </div>
  </div>
</section>
<!-- End of Help Section -->


 <!-- Testimonial Section -->
 <section class="testimonial overlay-tes">
  <div class="container">
      <div class="section-title">
          <h2 class="mb-5">Testimonials</h2>
      </div>
  </div>
  <div class="testimonials-carousel-wrap">
      <div class="listing-carousel-button listing-carousel-button-next"><i class="fa fa-caret-right" style="color: #fff;margin-left: 40%;"></i></div>
      <div class="listing-carousel-button listing-carousel-button-prev"><i class="fa fa-caret-left" style="color: #fff;margin-left: 50%;"></i></div>
      <div class="testimonials-carousel">
          <div class="swiper-container">
              <div class="swiper-wrapper">
                  <div class="swiper-slide">
                      <div class="testi-item">
                          <div class="testi-avatar"><img src="{{url_for('static', filename='asset/img/21.jp')}}g"></div>
                          <div class="testimonials-text">
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                              <div class="testimonials-avatar d-flex justify-content-between">
                                  <h3>John Doe</h3>
                                  <div class="listing-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!--second--->
                  <div class="swiper-slide">
                      <div class="testi-item">
                          <div class="testi-avatar"><img src="{{url_for('static', filename='asset/img/3.jpg')}}"></div>
                          <div class="testimonials-text">
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                              <div class="testimonials-avatar d-flex justify-content-between">
                                  <h3>Doe Boe</h3>
                                  <div class="listing-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--third-->

                  <div class="swiper-slide">
                      <div class="testi-item">
                          <div class="testi-avatar"><img src="{{url_for('static', filename='asset/img/4.jpg')}}"></div>
                          <div class="testimonials-text">
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                              <div class="testimonials-avatar d-flex justify-content-between">
                                  <h3>Boe Doe</h3>
                                  <div class="listing-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!--fourth-->
                  <div class="swiper-slide">
                      <div class="testi-item">
                          <div class="testi-avatar"><img src="{{url_for('static', filename='asset/img/6.jpg')}}"></div>
                          <div class="testimonials-text">
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                              <div class="testimonials-avatar d-flex justify-content-between">
                                  <h3>Doe John</h3>
                                  <div class="listing-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--testi end-->

              </div>
          </div>
      </div>

      <div class="tc-pagination"></div>
  </div>
</section>
<!-- End of Testimonial Section -->



<!-- Get Started Today Section -->
<section class="starttoday">
  <div class="container">
    <div class="row">
      <div class="getstartContent d-lg-flex d-md-block w-100">
      <div class="get-started w-100">
        <h2>GET STARTED TODAY</h2>
        <p>New student special! $30 unlimited Gym for the first week anh 50% of our member!</p>
    </div>
    <div class="enroll-btn">
      <a href="/order">BOOK NOW</a>
    </div>
  </div>
    </div>
  </div>
</section>
<!-- End of Get Started Today Section -->




{% endblock %}
