{% extends "layout.html" %}
{% block body %}
    <section id="hero" class="commonbanner">
        <div class="container">
            <div class="row">
              <div class="title w-100">
                <h3>Register</h3>
              </div>
            </div>
        </div>
    </section>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
         {% for msg in messages%}
         <div class="container alert alert-warning alert-dismissible fade show" role="alert">
           <strong>{{msg}}</strong>
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         {% endfor %}
    {% endif %}
{% endwith %}
    <section class="loginform">
        <div class="container">
          <div class="wrapper">
            <div class="title"><span>Register Form</span></div>
            <form action="/register" method="POST">
              <div class="row">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Name" name="name" required>
              </div>
              <div class="row">
                <i class="fas fa-user"></i>
                <input type="tel" placeholder="Phone" name="phone" required>
              </div>
              <div class="row">
                <i class="fas fa-inbox"></i>
                <input type="email" placeholder="Email" name="email" required>
              </div>
              <div class="row">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Password" name="password" required>
              </div>

              <div class="pass"><a href="#">Forgot password?</a></div>
              <div class="row button">
                <input type="submit" value="Register">
              </div>
              <div class="signup-link">Already a member? <a href="/login">Signin now</a></div>
            </form>
          </div>
        </div>
      </section>

      {% endblock %}